@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    padding: 0;
    margin: 0;
    
    font-family: 'Dela Gothic One', serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header h1 {
    font-size: 60px;
}

.container {
    width: 100%;
}

.social-list {
    list-style: none;
    padding: 0;
}

.social-item {
    border: solid orange 10px;
    align-items: center;
    display: flex;
    background-color: grey;
}

.social-item:first-child {
    border: solid #90030c 10px;
    background-color: #ee0f0f;
}

.social-item:first-child .icon {
    background-image: url("https://source.unsplash.com/featured/100x100");
}

.social-item .link {
    flex: 1;
}

.social-item .link h1 {
    text-align: left;
    padding-left: 50px;
}

.icon {
    width: 100px;
    height: 100px;
    background-color: lime;
    background-size: cover;
}
